<h2>新建测试结果</h2>

<%= simple_form_for [:admin, @test_report]  do |report|%>

<!-- <% if @test_report.errors.any? %>
<ul>
  <%# @test_report.full_messages.each do |msg| %>
    <li><%#= msg %></li>
  <%# end %>
</ul>
<% end %> -->

  <div class="group">
    <%= report.input :name, input_html: { class: "form-control"}%>
  </div>

  <div class="group">
    <%= report.input :result%>
  </div>

  <div class="group">
    <%= report.input :version %>
  </div>

  <div class="group">
    <%= report.input :content %>
  </div>

  <div class="group">
    <%= report.input :details %>
  </div>

  <div class="group">
    <%= report.input :condition %>
  </div>

<!-- 增加发布状态  -->
  <%= report.label :status %>
  <div class="group btn-group" data-toggle="buttons">

    <!-- <%= report.select :status, TestReport::STATUS.map{ |s| [t(s, :scope => "test_report.status"), s] }, {}, :class => "form-control" %> -->
    <!-- 三个以下选项使用单选框 -->
    <% TestReport::STATUS.each do |status| %>
      <label class="btn btn-default <%= (status == report.object.status)? 'active' : '' %>">
        <%= report.radio_button :status, status %>
        <%= t(status, :scope => "test_report.status" ) %>
      </label>
    <% end %>
  </div>

  <br>

  <!--增加类型选项  -->
  <div class="group">
    <%= report.association:category %>
  </div>

<!-- 自定义url打开后显示字符串  -->
  <div class="group">
    <%= report.input :friendly_id %>
    <p class="help-h=block">限小写英数字及横线，将作为网址的一部分</p>
  </div>

  <%= report.submit "create", data: { disable_with: "Submitting..."} %>


<% end %>
