<h2>
  <%= @test_report.name %>
</h2>

<p>
  【测试结果】：
  <%= @test_report.result %>
</p>

<p>
  【测试版本】：
  <br>
  <%= @test_report.version %>
</p>

<p>
  【测试范围】：
  <br>
  <%= @test_report.content %>
</p>

<p>
  【测试详情】：
  <br>
  <%= @test_report.details %>
</p>

<p>
  【测试环境】：
  <br>
  <%= @test_report.condition %>
</p>
