<h2>编辑用户</h2>

<% if @user.errors.any? %>
  <div id="error_explanation" >
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for [:admin, @user] do |f| %>
  <div class="group">
    <%= f.input :email %>
  </div>

<!-- 下面代码是正确的，现在使用simple_form_for写法 -->
  <div class="group">
    <%#= f.label :group_ids %>
    <!-- <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %> -->
    <%#= f.select :group_ids, Group.all.map{ |g| [g.name, g.id] }, {}, :multiple => true, :class => "form-control", :id => "user_group_ids" %>
  </div>

<!-- simple_form_for写法 -->
  <div class="group">
    <!-- 单选框写法 -->
    <!-- <%= f.association:groups, :as => :check_boxes , :id => "user_group_ids"%> -->
    <!-- 复选框  -->
    <%= f.association :groups %>
  </div>

  <%= f.submit "update", data: { disable_with: "Submitting..." } %>

<% end %>

<script>
  $("#user_group_ids").select2( { theme: "bootstrap" } )
</script>
