<h2>编辑用户</h2>

<% if @user.errors.any? %>
  <div id="error_explanation" >
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for [:admin, @user] do |f| %>
  <div class="group">
    <%= f.input :email %>
  </div>

  <div class="group">
    <%= f.label :group_ids %>
    <!-- <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %> -->
    <%= f.select :group_ids, Group.all.map{ |g| [g.name, g.id] }, {}, :multilpe => true, :class => "form-control", :id => "user_group_ids" %>
  </div>

<!-- 不知道怎么加id -->
  <!-- <div class="group">
    <%= f.association:groups, :as => :check_boxes , :id => "user_group_ids"%>
  </div> -->

  <%= f.submit "update", data: { disable_with: "Submitting..." } %>

<% end %>

<script>
  $("#user_group_ids").select2( { theme: "bootstrap" } )
</script>
